<!doctype html>
<html lang="en" ng-app="LoanDolphinApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="resources/css/vendors/bootstrap.min.css">
		<link rel="stylesheet" href="resources/css/loandolphin.css">
		<link rel="stylesheet" href="resources/css/vendors/font-awesome-4.5.0/css/font-awesome.css">
		<script type="application/javascript" src="resources/js/vendors/jquery-1.10.2.min.js"></script>
		<script type="application/javascript" src="resources/js/vendors/angular.min.js"></script>
		<script type="application/javascript" src="resources/loandolphin.js"></script>
		<script type="application/javascript" src="resources/js/vendors/bootstrap.min.js"></script>
	</head>
	<body ng-controller="CurrencyController" class="container">
		<div class="row">
			<div class="col-md-10">

				<!-- conversion form -->				  
		  
				<img src="resources/img/loan-dolphin-logo-white.png"/><br>
				<label class="app-description">Currency Converter</label>
				<div class="conversion">
					<p class="loading" ng-if="loading.length > 0"><img src="resources/img/oval.svg" width="15"/> Loading</p>
					<div class="row">
					
						<!-- input amount -->
						
						<div class="col-md-2">
							<input type="number" id="amount" value="1.00"/>
						</div>
						
						<!-- combobox from -->
						
						<div class="col-md-4 list-currecies {{combos['from'].opened ? 'list-currencies-opened' : ''}}">
							<img class="flag flag-selected ng-hide {{combos['from'].selected.partial.from ? 'flag-partial-selected' : ''}}"
								ng-show="combos['from'].selected" height="20" src="resources/img/flags/{{combos['from'].selected.code.toLowerCase()}}.png"/>
							<i class="fa fa-chevron-down drop-button" aria-hidden="true" ng-click="openDropbox('from')"></i>
							<input type="text" id="from" ng-blur="getCurrencyByCode('from')" ng-keyup="searchCurrencyByText($event, 'from')"/>
							<ul class="combobox">
								<li ng-repeat="currency in model.getCurrencyNames()" ng-click="setCurrency(currency, 'from')">
									<img height="15" src="resources/img/flags/{{currency.code.toLowerCase()}}.png">
									{{currency.code}} <small>{{currency.name}}</small>
								</li>
							</ul>
						</div>
						
						<!-- invert currencies button -->
						
						<div class="col-md-1 text-center">
							<i class="fa fa-arrows-h custom-arrow" aria-hidden="true" ng-click="invertCurrencies()"></i>
						</div>
		
						<!-- combobox to -->
						
						<div class="col-md-4 list-currecies {{combos['to'].opened ? 'list-currencies-opened' : ''}}">
							<img class="flag flag-selected ng-hide {{combos['to'].selected.partial['to'] ? 'flag-partial-selected' : ''}}"
							ng-show="combos['to'].selected" height="20" src="resources/img/flags/{{combos['to'].selected.code.toLowerCase()}}.png"/>
							<i class="fa fa-chevron-down drop-button" aria-hidden="true" ng-click="openDropbox('to')"></i>
							<input type="text" id="to" ng-blur="getCurrencyByCode('to')" ng-keyup="searchCurrencyByText($event, 'to')"/>
							<ul class="combobox">
								<li ng-repeat="currency in model.getCurrencyNames()" ng-click="setCurrency(currency, 'to')">
									<img height="15" src="resources/img/flags/{{currency.code.toLowerCase()}}.png">
									{{currency.code}} <small>{{currency.name}}</small>
								</li>
							</ul>
						</div>
						
						<!-- submit button -->
						
						<div class="col-md-1 text-right">
							<div class="{{loading.length > 0 ? 'loading-box-progress':'loading-box'}}">
								<i class="fa fa-arrow-right custom-arrow" aria-hidden="true" ng-click="convert()"></i>							
							</div>
						</div>
					</div>
			
					<!-- conversion results -->
				
					<div class="result text-center ng-hide" ng-show="currentConversion">
						<p>
							{{currentConversion.amount | currency:''}} {{currentConversion.from.code}} = <br>
							<label>{{currentConversion.result.rates[currentConversion.to.code] | currency:''}}</label>&nbsp;{{currentConversion.to.code}}
						<p/>
						<p class="rates-from">
							rates from <strong>{{currentConversion.result.date}}</strong>
						</p>
					</div>
					
					<!-- chart -->
				
					<div id="conversionChart"></div>
				</div>
			</div>
			<div class="col-md-2">
			
				<!-- relevants currecies -->

				<p class="relevants text-center ng-hide" ng-show="model.getCurrencyNames()">
					Relevant currencies<br>
					<strong ng-if="combos['from'].selected">({{1.00 | currency:''}} {{lastFromRelevant.code}})</strong>
				</p>
				<div class="principals text-left ng-hide" ng-show="model.getCurrencyNames()">
					<ul>
						<li title="{{currency.name}}" ng-repeat="currency in model.getCurrencyNames() | limitTo:config.RELEVANTS_SIZE" ng-click="setCurrency(currency, 'to')">
							<img class="flag" height="15" src="resources/img/flags/{{currency.code.toLowerCase()}}.png">
							{{relevants.rates[currency.code] | currency:''}} <small>{{currency.code}} <strong>{{currency.name}}</strong></small>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</body>
</html>
