ul.combobox {
	background-color:white;
	padding:5px;
	border:1px solid $dark-medium-color;
	border-top:0px solid $white-background-color;
	height:250px;
	overflow:auto;
	position:absolute;
	right:0px;
	left:0px;
	z-index:999;
	margin-top:-3px;
}			

ul.combobox li {
	margin:0px;
	padding:5px;
	cursor:pointer;
	border:1px solid $white-background-color;
}			

ul.combobox li:hover {
	background-color:$dark-light-color;
	border:1px solid $dark-medium-color;
}			

ul.combobox li small {
	color:#999999;
}

div.list-currecies ul.combobox {
	display:none;
}

div.list-currencies-opened ul.combobox {
	display:block;
}

i.drop-button {
	padding:14px;
	background-color:rgba(255, 255, 255, 0.8);
	position:absolute;
	right:1px;
	top:1px;
	border-radius:0px 4px 4px 0px;
}

i.drop-button:hover {
	background-color:$dark-light-color;				
}