div.conversion {
	max-width:900px;
	margin-top:50px;
	padding:50px;
	background-color:$white-background-color;
	border-radius:4px;
	box-shadow: $huge-light-shadow;
	position:relative;
}

.col-md-4 {
	padding:0px !important;
}

.col-md-4 {
	position:relative;
}

.col-md-1 {
	padding:0px;
}

.col-md-2 {
	@media screen and (max-width: $tablet-size) {
      padding:0px;
	  padding-bottom:10px;
    }
}

div.result {
	color:#999999;
	font-size:18pt;
	padding:10px;
	background-color:rgba(239, 239, 239, 0.5);
	margin-top:40px;
	border-radius:4px;
}

div.result p label {
	font-size:28pt;
	color:#015b9d;
}

div.result p.rates-from {
	font-size:11pt;
}

div.principals {
	background-color:$white-background-color;
	border:1px solid $dark-medium-color;
	padding:10px;				
	border-radius:4px;
	box-shadow: $huge-light-shadow;
	
	@media screen and (max-width: $tablet-size) {
      margin:15px;
    }
}

p.relevants {
	color:$white-font-color;
	font-size:9pt;
	margin-top:65px;
	@media screen and (max-width: $tablet-size) {
      margin-top:10px;
	  color:$dark-gray-color;
    }	
}

div.principals ul li {
	padding:3px;
	cursor:default;
}

div.principals ul li strong{
	color:#999999;
	display:none;
	min-width:500px;
	@media screen and (max-width: $tablet-size) {
      display:inherit;
    }
}