img.flag {
	border-bottom:1px solid $dark-gray-color;
	border-right:1px solid $dark-gray-color;
	border-top:1px solid $dark-medium-color;
	border-left:1px solid $dark-medium-color;
}

img.flag-selected {
	float:left;
	position:absolute;
	margin:10px;
}

img.flag-partial-selected {
	opacity:0.3;
}

i.custom-arrow {
	font-size:18pt;
	padding:8px;
	border-radius:4px;
}

i.custom-arrow:hover {
	background-color:$dark-light-color;
}