input[type='text'], input[type='number'] {
	font-size:11pt !important;							
	padding:10px;
	height:43px;
	border:1px solid $dark-medium-color;
	width:100%;
	border-radius:4px;
}

input[type='text'] {
	padding-left:45px;
}

input[type='text']:focus {
	border-color: $dark-medium-color;
	box-shadow: 0px;
	outline: 0 none;
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
