div.loading-box, div.loading-box-progress {
	position:relative;
}
			
div.loading-box-progress i {				
	pointer-events:none;
}

p.loading {
	position:absolute;
	top:15px;
	font-size:9pt;
	color:gray
}