body, label, li {
	font-size:10pt;
	color:$dark-gray-color;
}

body {
	background-image:url('../img/hero-bg.png');
	background-position: 0px -600px, 0px 0px;
	background-repeat: repeat-x;
}

ul {
  list-style-type: none;
  padding:0px;
}

label.app-description {
	font-weight:normal;
	font-size:16px;
	color:rgba(255, 255, 255, 0.6);
}