$dark-gray-color: #666666;
$dark-medium-color: #C0C0C0;
$dark-light-color: #EFEFEF;
$tablet-size: 990px;
$white-background-color: #FFFFFF;
$white-font-color: #FFFFFF;
$huge-light-shadow: 0 10px 60px 4px rgba(33, 33, 33, 0.1);